.container {
  display: flex;
  height: 100vh;
  align-items: center;
  text-align: center;
  color: white;
  position: absolute;
  z-index: 1;
  transform: translateX(-50%);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--wine-plum);
  padding-inline: 50px;
  border-radius: 12pt;
}

.textBox {
  display: flex;
  flex-direction: column;

}

.textBox h1{
  font-family: 'San Francisco Bold';
}
